*{
    box-sizing: border-box;
}

.employee-card{
    margin: 5px;
    list-style: none;
    font-size: 20px;
    color: rgb(219, 163, 7);
    background-color:  rgb(10, 72, 2);
}
.list-group-item{
    font-size: 20px;
    color: rgb(219, 163, 7);
    background-color:  rgb(10, 72, 2);
    /* border: none; */
}

.team-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-group-item a{
    color: rgb(250, 249, 248);
}

.list-group-item a:hover{
    color: rgb(219, 163, 7);
    font-weight: bolder;
    text-decoration: none;
    
}

.container{
    background-color: white;
}
